html, body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: #ffffff;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root{
  --blue: #00345b;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "ALTONE-REGULAR";
  src:local('ALTONE-REGULAR'), url("fonts/ALTONE-REGULAR.TTF");
}
@font-face{
  font-family: "BwMitga-Regular";
  src:local('BwMitga-RegularALTONE-REGULAR'), url("fonts/BwMitga-Regular.otf");
}

h1{
  font-family: "ALTONE-REGULAR";
}
h2{
  font-family: "ALTONE-REGULAR";
}
h3{
  font-family: "ALTONE-REGULAR";
}
h4{
  font-family: "ALTONE-REGULAR";
}
h5{
  font-family: "ALTONE-REGULAR";
}

div{
  font-family: "BwMitga-Regular";
}
p{
  font-family: "BwMitga-Regular";
}
button{
  font-family: "BwMitga-Regular";
}