html, body {
  height: 100%;
  width: 100vw;
  margin: auto;
  background: #ffffff;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root{
  --blue: #034e80;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "Altone";
  src: url("src/fonts/ALTONE-REGULAR.woff");
}
@font-face{
  font-family: "BwMitiga";
  src: url("src/fonts/BwMitga-Regular.woff");
}

h1{
  font-family: "Altone";
}
h2{
  font-family: "Altone";
}
h3{
  font-family: "Altone";
}
h4{
  font-family: "Altone";
}
h5{
  font-family: "Altone";
}

div{
  font-family: "BwMitiga";
}
p{
  font-family: "BwMitiga";
}
button{
  font-family: "BwMitiga";
}